{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Protected Page</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/style.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <h2>Protected Page</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci nisi
        provident, eius similique animi est, porro, illo odit harum molestias
        blanditiis error possimus odio eaque exercitationem iusto quo quam
        temporibus.
      </p>
      <a href="{% url 'home' %}">Home</a>
    </div>
  </body>
</html>
